*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
.btnSave, .btnEdit, .btnDel{
    background-color: #777;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 75px;
    height: 40px;
}
.btnSave:hover, .btnEdit:hover, .btnDel:hover{
    background-color: #888888;
    transition-duration: 0.4s;
    color: black;
}
.btnEdit, .btnDel{
    font-size: 16px;
    margin: 10px 25px;
}
li {
    list-style: none;
    width: 200px;
    height: 200px;
    background: #666;
    cursor: pointer;
    box-shadow: 5px 10px 3px #888888;
    border-radius: 5px;
    margin: 25px;
}
li:hover{
    border:1px solid #888888;
    transition-duration: 0.4s;
}
