*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 238);
}
header{
    text-align: center;
}
.nota{
    color: black;
    padding: 25px;
}
.btnSave, .btnEdit, .btnDel{
    background-color: #777;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 75px;
    height: 40px;
}
.btnSave:hover, .btnEdit:hover, .btnDel:hover{
    background-color: #888888;
    transition-duration: 0.4s;
    color: black;
}
.btnEdit, .btnDel{
    display: block;
    font-size: 16px;
    margin: 10px 25px;
}
ul{
    padding: 48px;
}
p {
    text-align: center;
    list-style: none;
    width: 250px;
    height: 250px;
    cursor: pointer;
    box-shadow: 5px 10px #cecece;
    border-radius: 5px;
    margin: 25px;
    overflow: auto;
    word-wrap: break-word;
}
p:hover{
    border:1px solid #888888;
    transition-duration: 0.4s;
}
p {
    display: inline-flex;
}